<!DOCTYPE html>
<html>
	<head>
		{% if title %}
		<title>{{ title }}</title>
		{% else %}
		<title>Error 603 - Snails Not Available</title>
		{% endif %}
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="jumbotron text-center">
		  <h1>CareerPal</h1>
		  <p>A chatbot-based application to help people in their careers and job applications</p>
		</div>
		<script type="module"
		src="https://gradio.s3-us-west-2.amazonaws.com/3.34.0/gradio.js">
		</script>
		<gradio-app src="https://anandaa-careerpal.hf.space"></gradio-app>
	</body>
</html>
